*~
*.uaem
*.o
*.lnk
Debug
NoDebug
/InitNiKom/InitNiKom
nikom_pragmas.h
Include/CatalogDefaults.h
/NiKomDev.lha
Nodes/objects.slink
Tools/SetNodeState/SetNodeState
Tools/CryptPasswords/CryptPasswords
Tools/NiKomFido/NiKomFido
Catalogs/svenska/
Testing/DiskMem-Tests
